{% extends "wrapper.html" %}

{% block title %}
    About Me
{% endblock %}

{% block content %}
    <h1 class="text-danger">About Me</h1>
    <hr>
    <p>
        <span class="text-danger">ИМЯ: </span>Артём
        <p><span class="text-danger">ГОД: </span>1989</p>
        <p><span class="text-danger">ГОРОД: </span>Дзержинск (РБ)</p>
        <p><span class="text-danger">ОБРАЗОВАНИЕ: </span>Высшее</p>
        <p><span class="text-danger">СПЕЦИАЛЬНОСТЬ: </span>Инженер по земельному кадастру</p>
        <p>Окончил в 2012г БГСХА, землеустроительный факультет по специальности земельный кадастр. Работал инженером по
        технической инвентаризации, поработал аппаратчиком в цеху. На данный момент работаю инженером-технологом на
        машиностроительном предприятии. Знаю AutoCad, немного КОМПАС, немного
        <a href="{% url 'illustrations_url' %}" style="color: #dc3545;">PHOTOSHOP.</a></p>
        <p>Подсел на язык
        программирования Python, что мелкими шажками привело меня сюда. По этому, пытаюсь заполнить эту страничку, хоть
        каким-то контентом, что бы опробовать Скролл :). После полусотни решённых задач на проекте Эйлера, решил
        попробовать запилить свой первый сайт на Dgango с нуля. Если кто-то это читает, то видите то, что видите.
        Не всё тут реализовал что хотел, не всё получается.</p>
        <p>Что б мне ещё сюда добавить...</p>
        <p>Про характер говорить не люблю. Т.к. человек рассказывая о себе, не может взглянуть на себя со стороны. По
        этому, всё описание самого себя, своего поведения, будет предвзятым, как мне кажется. Думаю, лучше всего человека
        может описать его окружение: семья, друзья, коллеги.</p>
        <p>Хотел добавит на описание какое-нибудь фото, но не нашёл. Как бы они есть, но это жесть, как по мне. С фотками реально туго.</p>
        <p>Всё, скрол по правой стороне вроде как появился.</p>
        <p style="color: #dc3545;">Спасибо за потраченное время!</p>
    </p>
{% endblock %}
