{% extends "wrapper.html" %}

{% block title %}
    My First Site
{% endblock %}

{% block content %}
    <h1 class="text-danger text-right">My First Site</h1>
    <h4 class="text-white text-right">
        Сайт создан исключительно в личных целях, как тренировочная площадка  для изучения языка программирования Python и его фреймворков (в данном случае Django) . MyFirstSite будет пополняться, по худу моего развития и получения новых знаний в языках программирования.

        <p class="pt-3">
            Всё что Вы здесь увидите или найдёте, это и есть тот уровень моих знаний и умений на данный момент.
        </p>
    </h4>
{% endblock %}


